In [1]:
import os
import sys
import rasterio as rio
import numpy as np
from rasterio.features import shapes
import geopandas as gpd
import pandas as pd
from tqdm import tqdm
from rasterstats import point_query
import country_converter as coco
cc = coco.CountryConverter()

In [2]:
# make connection to all the scripts
sys.path.append(os.path.join( '..'))
from scripts.utils import load_config,create_folder_structure,get_num
from scripts.analyze import losses,exposure
from scripts.functions import get_storm_data,poly_files,clip_osm,clip_landuse,fetch_roads,storm_exposure

In [3]:
# make connection to the data paths
data_path = load_config()['paths']['data']
storms_path =  load_config()['paths']['hazard_data']

In [4]:
# set country
country = 'LU'

In [5]:
#set folder structure for calculation
create_folder_structure(data_path,country)

In [6]:
%%time
gdf = exposure(country, include_storms = True, parallel = False,save=True)

F:\Dropbox\VU_DATA\WISC_v2\LU\NUTS2_OSM\LU00.osm.pbf started!
F:\Dropbox\VU_DATA\WISC_v2\LU\NUTS2_OSM\LU00.osm.pbf finished!
Wall time: 3min 33s

In [10]:
gdf.head()

,osm_id,building,amenity,geometry,COUNTRY,ID_,AREA_m2,CLC_2012,1981110215,1983011812,1983020118,1984011303,1984011421
0,15837,yes,None,(POLYGON ((4041226.858230331 2951186.770884426...,LU,0_LU00,4475.511157,1.0,11.25,16.000,25.0,22.750,23.875
1,29659,yes,bank,(POLYGON ((4041255.208764243 2951198.095257116...,LU,1_LU00,2934.859511,1.0,11.25,16.000,25.0,22.750,23.875
2,452628,yes,courthouse,"(POLYGON ((4041622.214838265 2951259.5555122, ...",LU,2_LU00,1804.617327,1.0,11.25,16.000,25.0,22.750,23.875
3,1086459,yes,None,(POLYGON ((4027319.708238156 2940775.189977427...,LU,3_LU00,5869.639401,2.0,11.75,18.125,26.0,24.375,25.125
4,1686713,public,None,(POLYGON ((4042237.739494157 2952313.435510729...,LU,4_LU00,3493.890721,3.0,11.25,16.000,25.0,22.750,23.875

In [8]:
gdf.drop(['centroid'],axis='columns',inplace=True)

In [9]:
gdf.to_file(os.path.join(data_path,'output','losses_{}.shp'.format(country)))