In [8]:
import os
import sys
import rasterio as rio
import numpy as np
from rasterio.features import shapes
import geopandas as gpd
import pandas as pd
from tqdm import tqdm
from rasterstats import point_query
import country_converter as coco
cc = coco.CountryConverter()

In [9]:
# make connection to all the scripts
sys.path.append(os.path.join( '..'))
from scripts.utils import load_config,create_folder_structure,get_num
from scripts.analyze import losses,exposure
from scripts.functions import get_storm_data,poly_files,clip_osm,clip_landuse,fetch_roads,storm_exposure

In [10]:
# make connection to the data paths
data_path = load_config()['paths']['data']
storms_path =  load_config()['paths']['hazard_data']

In [11]:
# set country
country = 'LU'

In [12]:
#set folder structure for calculation
create_folder_structure(data_path,country)

In [14]:
%%time
gdf = losses(country, parallel = False,save=True)

F:\Dropbox\VU_DATA\WISC_v2\LU\NUTS2_OSM\LU00.osm.pbf started!
F:\Dropbox\VU_DATA\WISC_v2\LU\NUTS2_OSM\LU00.osm.pbf finished!
Wall time: 3min 31s

In [15]:
gdf.head()

,geometry,building,AREA_m2,amenity,osm_id,centroid,CLC_2012,COUNTRY,ID_,1981110215,1983011812,1983020118,1984011303,1984011421
0,(POLYGON ((4041226.858230331 2951186.770884426...,yes,4475.511157,None,15837,POINT (4041205.801354027 2951146.126858424),1.0,LU,0_LU00,0,0,0,0,0
1,(POLYGON ((4041255.208764243 2951198.095257116...,yes,2934.859511,bank,29659,POINT (4041290.406839197 2951183.074225526),1.0,LU,1_LU00,0,0,0,0,0
2,"(POLYGON ((4041622.214838265 2951259.5555122, ...",yes,1804.617327,courthouse,452628,POINT (4041639.736955036 2951240.31680993),1.0,LU,2_LU00,0,0,0,0,0
3,(POLYGON ((4027319.708238156 2940775.189977427...,yes,5869.639401,None,1086459,POINT (4027323.087637324 2940702.05108906),2.0,LU,3_LU00,0,0,0,0,0
4,(POLYGON ((4042237.739494157 2952313.435510729...,public,3493.890721,None,1686713,POINT (4042257.25046226 2952363.670793177),3.0,LU,4_LU00,0,0,0,0,0

In [16]:
gdf.drop(['centroid'],axis='columns',inplace=True)

In [17]:
gdf.to_file(os.path.join(data_path,'output','losses_{}.shp'.format(country)))